
h1 {
    color: blue;
    text-align: center;
    text-decoration-style: wavy;
    background: radial-gradient(red 5%, yellow 25%, green 50%);
    height: 70px;
    padding: 10px;
    margin-top: 15px;
}
.container {
    background-color: rgba(155, 144, 91, 0.267);
    border: salmon solid 3px;
    min-height: 500px;

}
#content {
    border: 1px solid rgb(56, 7, 7);
    text-align: center;
    color: blue;
    font-style: italic;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: beige
}
#soch {
    background-color: rgba(99, 87, 31, 0.267);
    margin-top: 15px;
    float: left;
    width: 130px;
    height: 80px;
    text-align: center;
}
.dashboard {
    background-color: rgba(155, 144, 91, 0.267);
    margin-top: 35px;
    width: 130px;
    height: 80px;
    margin-right: 25px; 
    border: 1px solid red;
    float: right;
}
#spa {
    text-align: center;
    color: #55470379;
    font-size: 20px;
    display:block;
}
.arrange-img {
    margin-left: 4px;
    margin-top: 50px;
    border: 1px solid red;
}
span:hover {
    color: aqua;
}
#guesss {
    text-align: center;
    color: #55470379;
    font-size: 20px;
    display:block;
}




